<html>
  <head></head>
  <body>
  	<p>
  		<%= user_message %>
  	</p>
    <p>
    	<%= number_message %>
    </p>
    <form>
	  <input type='text' name='guess' />
	  <input type='submit' value='Guess!' />
	</form>
  </body>
</html>